html {
    font-size: 16px;
}

*{ margin: 0;
    padding: 0;
    font-family: League Spartan, sans-serif;
}

body {
    background: #f8fcff;
    font-family: Inter sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #002d38;
    margin: 0;
    padding: 0;
}

/* Pre Loader */
.loader {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #002d38;
    transition: opacity 3s, visibility 1s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px; 
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #ffae00;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    padding: 25px;
    background-color:#f7f5f51f;
    backdrop-filter:blur(100px);
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.logo{
    font-size: 20px;
    color: #002d38;
    text-decoration: none;
    font-weight: 700;
    margin-left: 150px;
}

.navbar{
    margin-right: 80px;
}

.navbar a{
    font-size: 17px;
    color: #002d38;
    text-decoration: none;
    font-weight: 500;
    margin-right: 80px;
}
    

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    color: #002d38;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    font-family: League Spartan, sans-serif;
    font-weight: 700;
    line-height: 40px;
}

.bigtext {
    color: #4e4e4e;
    font-family: Poppins, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
}

.hero-section {
    display: flex;
    max-width: 1300px;
    margin: 74px auto 48px auto;
}

.hero-text {
    width: 60%;
    padding: 32px 40px 0px 0px;
}

.hero-image-area {
    width: 50%;
}

.hero-image {
    width: 100%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    box-shadow: 0px 0px 27px -8px rgba(136, 135, 135, 0.75);
}

.small-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color:rgb(255, 174, 0);
}

#hi-name {
    margin: 30px 0 30px 0;
    color:rgb(255, 174, 0);
}

.animated-text{
    font-size: 47px;
    font-weight: 600;
    min-width: 280px;
    margin: 25px 0 50px 0;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Youtuber";
    color: rgb(255, 174, 0);
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #ffffff;
    border-left: 2px solid (255, 174, 0)rgb;
    right: -4px;
    top: 0px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "SE Undergraduate.";
    }
    21%,40%{
        content: "Wordpress Developer.";
    }
    41%,60%{
        content: "Digital Marketer.";
    }
    61%,80%{
        content: "UI/UX Designer.";
    }
    81%,100%{
        content: "Youtuber.";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.above-btn{
    margin: 35px 0 10px 0;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #333;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #ff0000;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
    color: black;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #333;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #333;
  }
  .wrapper .button:nth-child(5) span{
    color: #ff0000;
  }


#pricing-section {
    max-width: 1300px;
    margin: 20px auto;
}

.over-title {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 10px;
    text-transform: uppercase;
    color: rgb(255, 174, 0);
    text-align: left;
    margin: 80px 0 15px 0;
}

.section-heading {
    text-align: left;
    margin: 0 auto;
    font-size: 35px;
}

#pricing-area {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    
}

.price-box {
    width: 25%;
    text-align: justify;
}

.price-box3{
    width: 26%;
    text-align: justify;
}

.pricing-card {
    background: linear-gradient(320deg, #f8fcff 0%, #ebf0f3 100%);
    border-radius: 15px;
    box-shadow: 7px 7px 14.5px -3px #dddddd;
    margin: 0 10px;
    padding: 20px;

    
}

.service-icon{
    width: 40px;
    margin-bottom: 07px
}

.service {
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 21px;
    color: #002d38;
}


.service-description {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #a6a6a6;
    font-weight: 400;
    line-height: 21px;
    margin-top: 8px;
}

/* education-experience */

.education-experience{
    position: relative;
    max-width: 1300px;
    margin: 100px auto;
}

.container{
    padding: 10px 50px;
    position: relative;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.container small{
    background-color: #ffae00;
    border-radius: 03px;
    padding: 2px 12px 0 12px;
    color: #ffffff;
    font-weight: 500;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}

.text-box{
    padding: 20px 30px;
    background: linear-gradient(320deg, #f8fcff 0%, #ebf0f3 100%);
    border-radius: 10px;
    box-shadow: 7px 7px 14.5px -3px #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edu-container{
    left: 0;
    width: 75%;
}

.img-section img{
    width: 175px;
    margin: 10px 35px 0 0;
    border-radius: 10px;
}


.education-experience::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #002d38;
    top: 0;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 5s linear forwards; 
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin: 05px 0 12px 0;
}
    
.edu-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ebf0f3;
    left: 36px;
}

.exp-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(255, 255, 255);
    right: -14.5px;
}



#footer {
    text-align: center;
    background-color: #002d38;
    color: #ffffff;
    padding: 20px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

#footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}


@media screen and (max-width: 600px) {
    .education{
        margin: 50px auto;
    }
    .education::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .edu-container{
        left: 0;
    }
    .left-container img, .edu-container img{
        left: 7px;
    }
    .left-container-arrow, .edu-container-arrow{
        border-right: 15px solid #ffffff;
        border-left: 0;
        left: -14px;
    }
}