html {
    font-size: 16px;
}

*{ margin: 0;}

body {
    background: #ffffff;
    font-family: Inter sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #55206D;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: League Spartan, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: #002d38;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    font-family: League Spartan, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    /* text-align: center; */
    color: black;
}

.bigtext {
    color: #331E6A;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.hero-section {
    display: flex;
    max-width: 1060px;
    margin: 0 auto 48px auto;
}

.hero-text {
    width: 50%;
    padding: 32px 20px 32px 20px;
}

.hero-image-area {
    width: 50%;
}

.hero-image {
    width: 100%;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.small-text {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(144, 41, 41);
}

#hi-name {
    margin-top: 52px;
}

#contact-button {
    width: 138px;
    height: 44px;
    border-radius: 4px;
    background-color: #002d38;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: white;
    margin-top: 20px;
    border: none;
}

#pricing-section {
    max-width: 1060px;
    margin: 48px auto;
}

.over-title {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    color: #2858FF;
    text-align: center;
 
}

.section-heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.section-subtitle {
    text-align: center;
    margin: 8px auto 48px auto;
    max-width: 700px;
}

#pricing-area {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    
}

.price-box {
    width: 33.33%;
}

.pricing-card {
    background-color: #ffffff;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}

.service {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 21px;
    color: #2858FF;
}

.price {
    font-size: 36px;
    font-family: poppins,sans-serif;
    font-weight: 700;
    line-height: 54px;
    color: black;
}
.price-per {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #8B8B8B;
    font-weight: 400;
    line-height: 21px;
}

.service-description {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #8B8B8B;
    font-weight: 400;
    line-height: 21px;
    margin-top: 8px;
}

.service-benifits {
    padding: 0px;
    list-style-type: none;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

.price-button {
    width: 100%;
    height: 44px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #2f2f2f;

    color: #2F2F2F;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.price-button:hover {
    background-color: #2f2f2f;
    color: #ffffff;
    cursor: pointer;
}

.card-2 {
    background-color: rgb(255, 174, 0);
}

.card-2 .service {
    color: black;
}

.card-2 li {
    color: #000000BF;
}

.card-2 .service-description {
    color: #00000080;
}

.card-2 .price-per {
    color: #00000080;
}

.card-2 .price-button {
    background-color: black;
    color: white;
}

.card-2 .price-button:hover {
    background-color: white;
    color: black;
}

#footer {
    text-align: center;
    background-color: black;
    color: #ffffff;
    padding: 20px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.checkbox {
    height: 16px;
    width: 16px;
    margin-bottom: -4px;
    opacity: 0.6;
}